In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.display import display

import requests

In [2]:
weather_groups = {'Clear': 'dry',
                  'Partially cloudy': 'dry',
                  'Rain, Partially cloudy': 'humid',
                  'Rain': 'wet',
                  'Rain, Overcast': 'wet',
                  'Overcast': 'humid'}

In [3]:
"""
url = "https://visual-crossing-weather.p.rapidapi.com/history"

#querystring = {"startDateTime":"2020-01-01T12:00:00","aggregateHours":"24","location":"Ljubljana,Slovenia","endDateTime":"2020-12-31T20:00:00","unitGroup":"metric","contentType":"csv","shortColumnNames":"0"}
querystring = {"startDateTime":"2019-01-01T12:00:00","aggregateHours":"24","location":"Ljubljana,Slovenia","endDateTime":"2019-12-31T20:00:00","unitGroup":"metric","contentType":"csv","shortColumnNames":"0"}

headers = {
    'x-rapidapi-key': "",
    'x-rapidapi-host': "visual-crossing-weather.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers, params=querystring)
"""

'\nurl = "https://visual-crossing-weather.p.rapidapi.com/history"\n\n#querystring = {"startDateTime":"2020-01-01T12:00:00","aggregateHours":"24","location":"Ljubljana,Slovenia","endDateTime":"2020-12-31T20:00:00","unitGroup":"metric","contentType":"csv","shortColumnNames":"0"}\nquerystring = {"startDateTime":"2019-01-01T12:00:00","aggregateHours":"24","location":"Ljubljana,Slovenia","endDateTime":"2019-12-31T20:00:00","unitGroup":"metric","contentType":"csv","shortColumnNames":"0"}\n\nheaders = {\n    \'x-rapidapi-key\': "",\n    \'x-rapidapi-host\': "visual-crossing-weather.p.rapidapi.com"\n    }\n\nresponse = requests.request("GET", url, headers=headers, params=querystring)\n'

In [4]:
"""
f = open('data\\weather_raw_2019.csv', 'w')
f.write(str(response.text))
f.close()
"""

"\nf = open('data\\weather_raw_2019.csv', 'w')\nf.write(str(response.text))\nf.close()\n"

In [5]:
df = pd.read_csv('data\\weather_raw.csv')
df2 = pd.read_csv('data\\weather_raw_2019.csv')

In [6]:
df = pd.concat((df, df2), ignore_index=True)

In [7]:
df=df[['Date time', 'Temperature', 'Conditions']].copy()
df['Date time'] = df['Date time'].map(lambda x: x.split('/')[2]+'-'+x.split('/')[0]+'-'+x.split('/')[1])

In [8]:
df['weather'] = df.apply(lambda x: 'normal' if (weather_groups[x['Conditions']]=='dry' and x['Temperature'] >=5) or (weather_groups[x['Conditions']]=='humid' and x['Temperature'] >=10) else 'adverse', axis=1)

In [9]:
df[df['Date time'] == '2019-10-05']

      Date time  Temperature Conditions  weather
643  2019-10-05         12.4       Rain  adverse

In [10]:
df = df[['Date time', 'weather']]
df.columns = ['date', 'weather']

In [11]:
df.date

0      2020-01-01
1      2020-01-02
2      2020-01-03
3      2020-01-04
4      2020-01-05
5      2020-01-06
6      2020-01-07
7      2020-01-08
8      2020-01-09
9      2020-01-10
10     2020-01-11
11     2020-01-12
12     2020-01-13
13     2020-01-14
14     2020-01-15
15     2020-01-16
16     2020-01-17
17     2020-01-18
18     2020-01-19
19     2020-01-20
20     2020-01-21
21     2020-01-22
22     2020-01-23
23     2020-01-24
24     2020-01-25
25     2020-01-26
26     2020-01-27
27     2020-01-28
28     2020-01-29
29     2020-01-30
          ...
701    2019-12-02
702    2019-12-03
703    2019-12-04
704    2019-12-05
705    2019-12-06
706    2019-12-07
707    2019-12-08
708    2019-12-09
709    2019-12-10
710    2019-12-11
711    2019-12-12
712    2019-12-13
713    2019-12-14
714    2019-12-15
715    2019-12-16
716    2019-12-17
717    2019-12-18
718    2019-12-19
719    2019-12-20
720    2019-12-21
721    2019-12-22
722    2019-12-23
723    2019-12-24
724    2019-12-25
725    2019-12-26
726    2019-12-27
727    2019-12-28
728    2019-12-29
729    2019-12-30
730    2019-12-31
Name: date, Length: 731, dtype: object

In [13]:
df.to_csv('data\\weather.csv', index=False)

In [12]:
df[df['date'] == '2020-10-05']

           date weather
278  2020-10-05    good